.nav_container {
  /* border-top: 7px solid #228ffc; */
  /* border-bottom: 7px solid #228ffc; */
  background-color: #cfe8ef;
  width: 100%;
  height: 60px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.nav_container__left {
  display: flex;
  align-items: center;
}
.nav_container__center {
  display: flex;
  justify-content: flex-start;
  width: 28%;
  align-items: center;
  font-family: "Viga", sans-serif;
  font-size: 4rem;
}

.nav_container__right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav_container__right .navbar_links {
  font-family: "Poppins", sans-serif;
  background-color: #7fc149;
  font-size: 1.1rem;
  height: 30px;
  color: black;
  /* text-decoration: none; */
  border: none;
  margin-right: 5px;
}

.navbar_links1 {
  border-radius: 4px 0px 0px 4px;
}

.navbar_links1:hover {
  /* border-radius: 5px 0px 0px 5px; */
  color: #228ffc;
  box-shadow: 0.5px 0.5px 1px #228ffc;
}

.navbar_links2:hover {
  color: #228ffc;
  box-shadow: 0.5px 0.5px 1px #228ffc;
}

.nav_image {
  display: flex;
}

.nav_image img {
  width: 80px;
  height: auto;
}
