/* TODO Add site wide styles */
html {
  background-color: #228ffc;
}
body {
  margin: 0;
  min-height: 760px;
  min-width: 1000px;
  /* max-width: 2000px; */
  /* max-width: 1920px; */
  /* max-height: 500px; */
  height: 100%;
}

#root {
  height: 100vh;
}
