.type_container {
  display: flex;
  flex-direction: column; 
}

.type_title {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
 
}

.type_list {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;  
}

.type_navlink {
  text-decoration: none; 
  height: fit-content;
  min-height: fit-content;
  padding-bottom: 1%;
}

.type_list img {
  margin-top: 10%;
  height: 150px;
}

.type_name {
  display: flex;
  justify-content: center;
  font-family: "Scope One", serif;
  font-size: 1.2rem;
  color: black;
}