.type_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px dashed black; */
}

.type_title {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

.type_list {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  /* align-self: center; */
  align-content: flex-end;
  overflow-y: scroll;

  /* border: 1px solid red; */
  height: 80%;
}

.type_navlink {
  text-decoration: none;
  /* border: 1px solid red; */
}

.type_list img {
  height: 9rem;
  /* border: 1px solid red; */
}

.type_name {
  display: flex;
  justify-content: center;
  font-family: "Scope One", serif;
  font-size: 1.2rem;
  color: black;
}

/* .type_list::-webkit-scrollbar {
  height: 6px;
} */

/* .type_list::-webkit-scrollbar-thumb {
  background-color: #7fc149;
  border-radius: 4px;
} */
