.area_events_card {
  /* background-color: white; */
  margin-top: 5px;
  margin-right: 9px;
  margin-left: 9px;
  font-family: "Scope One", serif;
  font-size: .9rem;
}

.area_event_span {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
}

.area_events_card_title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

.area_event_bottom_row {
  display: flex;
  justify-content: space-between;
}

.area_event_link {
  color: rgb(110, 110, 110);
  font-size: 13px;
  margin-top: 6px;
  padding-left: 5px;
}

.area_event_link:hover {
  color: #228ffc;
}
