.home_body {
  display: flex;
  position: absolute;
  height: 87%;
  width: 100%;
  min-width: 1000px;
  max-height: 1000px;
  background-color: #228ffc;
}

.home_column_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 1.5%;
  min-width: 400px;
}

.home_col1_row1 { 
  /* height: 55%; */
  overflow-x: scroll;
}

.home_area_title {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  border-radius: 2px 2px 0px 0px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
}

.home_area_container {
  background-color: white;
  margin-top: 5px;
  /* padding: 5px; */
  /* margin-bottom: 5px; */
  margin-left: 10px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  font-family: "Scope One", serif;
  /* height: 120px; */
}

.home_area_content {
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
}

.home_area_bottom_row {
  display: flex;
  justify-content: space-between;
}

.home_area_nav {
  margin-top: 5px;
  color: rgb(110, 110, 110);
  font-size: 13px;
}

.home_area_nav:hover {
  color: #228ffc;
}

.home_col1_row2 {
  /* height: 45%; */
  background-color: white;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  /* overflow-x: scroll; */
  min-height: 260px;
  overflow-x: hidden;
}

.home_column_2 {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 1.5%;
  min-width: 500px;
}

.home_col2_row1 {
  height: 75%;
}

.home_map_container {
  height: 100%;
}
.home_col2_row2 {
  height: 25%;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  overflow-y: scroll;
}

.home_area_create {
  height: 100%;
}

.home_area_span {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.home_area_content_title {
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
